[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggvariant"]
	path = ggvariant
	url = https://github.com/josh45-source/ggvariant
